* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(https://wallpapercave.com/wp/wp9064493.jpg) no-repeat center center/cover;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 420px;
    background: rgba(102, 101, 101, 0.5);
    border: 2px solid rgb(255, 253, 253);
    color: #fff;
    padding: 30px 25px;
    border-radius: 10px;
    text-align: center;
}

.title {
    font-size: 34px;
    color: white;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    padding: 14px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
}

.input-box input::placeholder {
    color: white;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
}

.remember-forgot label {
    display: flex;
    accent-color: #fff;
    align-items: center;
    padding: 0 5px;
    gap: 5px;
}

.remember-forgot a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    font-size: 18px;
    padding: 12px;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: rgb(226, 223, 223);
}

.register-link {
    margin-top: 15px;
}

.register-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}